/* $Id$ */
a.scrollable_content_prev {
	background: url(prev.png);
}
a.scrollable_content_next {
	background-image: url(next.png);
	clear: right;
}

/* single item */
div .scrollable_content {
  height: 337px;
  width: 300px;
}
div .scrollable_content .items .slide {
  background: url(bg.png) no-repeat 0 0 transparent;
  height: 337px;
  width: 300px;
}
div .scrollable_content .items a {
}
div .scrollable_content .items h3, .scrollable_content .items div.views-field-title {
	display: none;
}
div .scrollable_content .items img {
  height: 230px;
  margin-top: 52px;
  width: 195px;
}